@media (max-width: 60rem) {
  html {
    font-size: 56%;
  }
  .title-container {
    text-align: center;
    padding: 6rem 0;
    width: 60rem;
  }
  .password-generator {
    width: 60rem;
  }
  .options {
    width: 60rem;
  }
  .main-title {
    font-size: 4.4rem;
  }
  .sub-title {
    font-size: 3rem;
    line-height: 1;
  }
  .copy-tooltip,
  .create-tooltip {
    top: 58%;
    left: 75%;
  }
}
@media (max-width: 43rem) {
  html {
    font-size: 50%;
  }
  .main-title {
    font-size: 3.6rem;
  }
  .sub-title {
    font-size: 2.4rem;
  }
  .title-container {
    width: 44rem;
  }
  .password-generator {
    width: 44rem;
  }
  .options {
    width: 44rem;
  }
  .options-heading {
    font-size: 2rem;
  }
}
@media (max-width: 32rem) {
  .title-container {
    padding: 6.4rem 0;
  }
  .main-title {
    font-size: 4.8rem;
  }
  .sub-title {
    font-size: 3.2rem;
  }
  .password-generator {
    width: 48rem;
    padding: 1.6rem;
    font-size: 1.2rem;
  }
  .options {
    width: 48rem;
    grid-template-columns: 1fr;
    row-gap: 2.4rem;
  }

  .options-heading {
    font-size: 2.4rem;
  }

  .copy-btn-main,
  .nav-copy-btn {
    padding: 0.8rem 1.6rem;
    font-size: 1.6rem;
  }

  footer {
    margin-top: 1.6rem;
    padding: 1.6rem;
  }
}

@media (max-width: 27rem) {
  .title-container {
    padding: 8rem 0;
    width: 38rem;
  }

  .password-generator {
    width: 38rem;
    font-size: 1.2rem;
  }
  .options {
    width: 38rem;
    grid-template-columns: 1fr;
    row-gap: 2.4rem;
  }
  .copy-btn-main,
  .nav-copy-btn {
    padding: 0.8rem 1.6rem;
    font-size: 1.4rem;
  }
}
